/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .all-blocks {
    display: block !important;
    align-items: initial !important; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .title {
    font-size: 75px !important; }
  .main-block .footer {
    padding-top: 10px !important;
    padding-bottom: 10px !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .title {
    font-size: 50px !important; }
  .main-block {
    width: 900px !important; }
    .main-block .content .name {
      text-align: left; }
    .main-block .social {
      text-align: left; }
    .main-block .work {
      text-align: right; }
    .main-block .row {
      padding-bottom: 40px; }
    .main-block .col-md-6 {
      padding-top: 0px !important; } }

/* Desktops */
body {
  background: url("/media/bg-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 45% 50%;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: bold;
  font-family: "Poiret One", Helvetica, sans-serif; }

.all-blocks {
  display: flex;
  align-items: center;
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  padding-top: 50px;
  padding-bottom: 50px; }

.main-block {
  margin: 0 auto;
  width: 100%; }
  .main-block .row {
    border-bottom: 1px solid #eee;
    padding-top: 40px;
    padding-bottom: 40px; }
    .main-block .row .content {
      text-align: center; }
  .main-block .row.footer {
    border: none; }
  .main-block .photo img {
    width: 150px;
    border-radius: 50%;
    border: 2px solid #eee;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }
  .main-block .typewriter {
    font-size: 0.3em; }
  .main-block .name {
    font-size: 1.25em; }
  .main-block .col-md-6 {
    padding-top: 20px; }

.container {
  text-align: center;
  display: block;
  vertical-align: middle;
  width: 90%;
  background: rgba(255, 255, 255, 0.8); }

.title {
  font-size: 100px; }
