$font-stack: 'Poiret One', Helvetica, sans-serif;

// MQ Breaks
$break-xs: 320px;
$break-s: 480px;
$break-m: 786px;
$break-l: 992px;
$break-xl: 1200px;

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .row{
    //min-height: 100px;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .all-blocks{
    display: block !important;
    align-items: initial !important;

  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .title{
    font-size: 75px !important;
  }
  .main-block{
    .footer{
      padding-top:10px !important;
      padding-bottom:10px !important;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .container {

  }
  .title{
    font-size:50px !important;
  }
  .row{

  }
  .main-block{
    width:900px !important;
    //width:880px !important;
    .photo img {

    }
    .content .name{
      text-align:left;
    }
    .social{
      text-align:left;
    }
    .work{
      text-align:right;
    }
    .row{
      padding-bottom:40px;
    }
    .col-md-6{
      padding-top:0px !important;
    }

  }
}
/* Desktops */
@media only screen and (min-width : 1200px) {
  .container{

  }
  .main-block{
    //width:880px !important;

  }
}

body {
  background:url('/media/bg-1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 45% 50%;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: bold;
  font-family: $font-stack;
}
.all-blocks{
  display: flex;
  align-items: center;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  padding-top:50px;
  padding-bottom:50px;
}
.main-block{
    margin: 0 auto;
    width:100%;
    .row {
      border-bottom: 1px solid #eee;
      padding-top:40px;
      padding-bottom:40px;
      .content {
          text-align: center;
      }
    }
    .row.footer{
        border:none;

    }
    .photo img{
      width:150px;
      border-radius:50%;
      border: 2px solid #eee;
      box-shadow: 0px 0px 10px rgba(0,0,0,.5)
    }
    .typewriter {
      font-size: 0.3em;
    }
    .name {
      font-size:1.25em;
    }
    .col-md-6{
      padding-top:20px;
    }
}
.container {
  text-align: center;
  display: block;
  vertical-align: middle;
  width:90%;
  background:rgba(255,255,255,0.80);

}
.title {
    font-size: 100px;
}
